@model Group6WebProject.Models.MemberPreferences

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="SavePreferences" method="post">
    <h2>Select Your Preferences</h2>

    <!-- Favorite Platforms -->
    <h3>Favorite Platforms</h3>
    <input type="checkbox" name="FavoritePlatforms" value="PC"/> PC
    <input type="checkbox" name="FavoritePlatforms" value="Xbox"/> Xbox
    <input type="checkbox" name="FavoritePlatforms" value="PlayStation"/> PlayStation

    <!-- Favorite Game Categories -->
    <h3>Favorite Game Categories</h3>
    <input type="checkbox" name="FavoriteGameCategories" value="Action"/> Action
    <input type="checkbox" name="FavoriteGameCategories" value="Adventure"/> Adventure
    <input type="checkbox" name="FavoriteGameCategories" value="RPG"/> RPG

    <!-- Language Preferences -->
    <h3>Language Preferences</h3>
    <input type="checkbox" name="LanguagePreferences" value="English"/> English
    <input type="checkbox" name="LanguagePreferences" value="French"/> French
    <input type="checkbox" name="LanguagePreferences" value="Spanish"/> Spanish

    <br/>
    <input type="submit" value="Save Preferences"/>
</form>