@model Group6WebProject.Models.ErrorViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@{
    ViewData["Title"] = "Admin ";
}

<h1>Admin Panel</h1>
<nav>
    <ul>
        <li><a href="/Admin/GameManagement" class="nav-link">Game Management</a></li>
        <li><a href="/Admin/EventManagement" class="nav-link">Event Management</a></li>
        <li><a href="/Admin/GameReviews" class="nav-link">Game Reviews</a></li>
    </ul>
</nav>