@model Group6WebProject.Models.ErrorViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Admin Panel</h1>
<nav>
    <ul>
        <li>
            <a href="/Admin/GameManagement" class="nav-link">Game Management</a>
        </li>
        <li>
            <a href="/Admin/EventManagement" class="nav-link">Event Management</a>
        </li>
        <li>
            <a href="/Admin/ReviewManagement" class="nav-link">Game Reviews</a>
        </li>
        <li>
            <a href="/Admin/Reports" class="nav-link">Reports</a>
        </li>
    </ul>
</nav>

@{
    ViewData["Title"] = "Admin ";
}

<h1>Admin Panel</h1>
<nav>
    <ul>
        <li>
            <a href="/Admin/GameManagement" class="nav-link">Game Management</a>
        </li>
        <li>
            <a href="/Admin/EventManagement" class="nav-link">Event Management</a>
        </li>
        <li>
            <a href="/Admin/ReviewManagement" class="nav-link">Game Reviews</a>
        </li>
    </ul>
</nav>