@model Group6WebProject.Models.ErrorViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@{
    ViewData["Title"] = "Admin ";
}

<h1>Admin Panel</h1>
<nav>
    <a href="/Admin/GameManagement">Game Management</a>
    <a href="/Admin/EventManagement">Event Management</a>
    <a href="/Admin/GameReviews">Game Reviews</a>
</nav>