@model IEnumerable<Group6WebProject.Data.User>

<h2>Member Detail Report</h2>
@{
    ViewBag.Title = "title";
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

    th, td {
        border: 1px solid #dddddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    h2 {
        text-align: center;
        font-family: Arial, sans-serif;
    }
</style>

<table>
    <thead>
    <tr>
        <th>Member ID</th>
        <th>Display Name</th>
        <th>Email</th>
        <th>Is Admin</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var member in Model)
    {
        <tr>
            <td>@member.UserID</td>
            <td>@member.Name</td>
            <td>@member.Email</td>
            <td>@member.IsAdmin</td>
        </tr>
    }
    </tbody>
</table>