@{
ViewData["Title"] = "Reports";
Layout = "_Layout";
}

<h1>Reports</h1>

<h2>Game List Report</h2>
<p>Generate a list of all the games:</p>
<a asp-action="GenerateGameListReport" asp-route-format="pdf" class="btn btn-primary">Download PDF</a>
<a asp-action="GenerateGameListReport" asp-route-format="excel" class="btn btn-primary">Download Excel</a>
<br><br/>
<h2>Game Detail Report</h2>
<form asp-action="GenerateGameDetailReport" method="get">
    <div class="form-group">
        <label for="gameId">Select a Game</label>
        <select name="gameId" id="gameId" class="form-control" style="width: 300px; margin-bottom: 15px">
            @foreach (var game in ViewBag.Games as List<Group6WebProject.Models.Game>)
            {
                <option value="@game.Id">@game.Title</option>
            }
        </select>
    </div>
    <button type="submit" name="format" value="pdf" class="btn btn-primary">Download PDF</button>
     <button type="submit" name="format" value="excel" class="btn btn-primary">Download Excel</button>
</form>
<br><br/>
<h2>Wishlist Report</h2>
<p>Generate a report of users and wishlist items:</p>
<a asp-action="GenerateWishlistReport" asp-route-format="pdf" class="btn btn-primary">Download PDF</a>
<a asp-action="GenerateWishlistReport" asp-route-format="excel" class="btn btn-primary">Download Excel</a>
<br><br/>
<h3>Member List Report</h3>
<p>Generate a list of all users:</p>
<a asp-action="GenerateMemberListReport" asp-route-format="pdf" class="btn btn-primary">Download PDF</a>
<a asp-action="GenerateMemberListReport" asp-route-format="excel" class="btn btn-primary">Download Excel</a>
<br><br/>
<h3>Member Detail Report</h3>
<p>Generate a report of user details:</p>
<form asp-action="GenerateMemberDetailReport" method="get">
    <div class="form-group">
        <label for="UserId">Select a User ID</label>
        <select name="userId" id="userId" class="form-control" style="width: 300px; margin-bottom: 15px">
            @foreach (var users in ViewBag.Users as List<Group6WebProject.Data.User>)
            {
                <option value="@users.UserID">@users.Name</option>
            }
        </select>
    </div>
    <button type="submit" name="format" value="pdf" class="btn btn-primary">Download PDF</button>
    <button type="submit" name="format" value="excel" class="btn btn-primary">Download Excel</button>
    
</form>
