@model Group6WebProject.Models.ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget Password";
}

<h2>Forget Password</h2>

<form asp-action="ForgetPassword" method="post">
    @Html.AntiForgeryToken()

    @* display all the errors *@
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>